{% extends "base.html" %}

{% block content %}
    <h2>Transaction History</h2>
    <table>
        <thead>
            <tr>
                <th>Payee</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Memo</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.payee_name }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.category_id }}</td>
                    <td>{{ transaction.memo }}</td>
                    <td>{{ transaction.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
